@tailwind base;
@tailwind components;
@tailwind utilities;

.fc .fc-event-title,
.fc .fc-event-time {
  font-size: clamp(0.25rem, 1.5vw, 1rem);
}

.fc-daygrid-event-dot {
  display: none !important;
} /* hide the dots */

button {
  font-weight: 600 !important;
  color: white !important;
  border-radius: 0.375rem !important; /* equivalent to Tailwind's rounded-md */
  padding: 0.2rem !important;
  background-color: transparent !important;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

button:hover {
  background-color: white !important;
  color: #16a34a !important; /* Adjust to your desired hover text color */
}
